@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.top-nav {
  background-color: #134b8adb;
  color: white;
  height: 60px;
  width: 100%;
  position: fixed;
  overflow: hidden;
  box-shadow: 0 2.5px 2px rgba(0,0,0,0.3);
  backdrop-filter: blur(10px);
}

@media only screen and (max-width: 375px) {
  .top-nav{
    width: 100vw;
    box-shadow: none;
  }
}

.icons {
  color: #ffffff;
  margin-left: 88.9%;
  text-align: center;
  position: absolute;
  padding: 11px 10px;
}

@media only screen and (max-width: 375px) {
  .icons{
    margin-left: -25%;
  }
}

.noti {
  font-size: 2.35em;
  cursor: pointer;
}

.noti:hover {
  transform: scale(1.05);
  color: #0F1E56;
}

.user {
  font-size: 1.85em;
  margin-bottom: 4px;
  cursor: pointer;
}

.user:hover {
  transform: scale(1.05);
  color: #0F1E56;
}

.top-nav select {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 27px;
  font-size: 17px;
}

.select-2 {
  padding: 4px 7px;
  color: #ffffff;
  font-size: 0.9em;
  margin: 10px;
  width: 140px;
  border: transparent;
  background: transparent;
  cursor: pointer;
}

.container {
  display: flex;
}

aside {
  height: 100vh;
  background: #ffffff;
  width: 90px;
  position: fixed;
  padding-top: 60px;
  color: #000000;
  padding: 10px;
  border-radius: 0 50px 0 0;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 375px) {
  aside {
    height: 0;
    width: 0;
    top: 0;
    background: transparent;
    box-shadow: none !important;
    right: em !important;;

  }
}

aside h1 {
  border-bottom: 1px solid#E5E5E5;
  padding: 0 0 20px 6px;
  margin-top: 20px;
}

@media only screen and (max-width: 375px) {
  aside h1{
    color: #ffffff;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-self: auto;
    margin-top: -12px;
    font-size: 17px;
  }
}

img {
  width: 15%;
  height: 15%;
}

main {
  width: 100%;
  margin-left: 130px;
  margin-top: 56px;
}

h5 {
  font-size: 25px;
  margin-right: 10%;
  margin-top: 25px;
  margin-bottom: -75px;
  margin-left: 130px;
}

@media only screen and (max-width: 375px){
  h5 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: -15px;
    margin-left: -100px;
  }
}

.select-1 {
  padding: 4px 7px;
  color: #00000078;
  font-size: 0.9em;
  margin: 10px;
  width: 140px;
  border-radius: 20px;
  border: 1px solid #134B8A;
  background: white;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: -5px;
}

@media only screen and (max-width: 375px){
  .select-1 {
    margin-left: 0;
    width: 340px;
    margin-bottom: -15px;
    margin-top: -10px;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: 50%;
  margin-top: 30px;
}

@media only screen and (max-width: 375px) {
  .search-container {
    margin-left: -115px;
    display: block;
    justify-content: center;
    width: 300px;
  }
}

.search-input {
  padding: 3px 7px;
  font-size: 0.9em;
  border: 1px solid #134B8A;
  border-radius: 20px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 375px) {
  .search-input {
    width: 340px;
    height: 35px;
    margin-top: -10px;
  }
}

.i {
  color: #134B8A;
  font-size: larger;
  margin-right: 10px;
  margin-top: 5px;
}

@media only screen and (max-width: 375px) {
  .i {
    margin-left: -400px;
  }
}

.btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 86%;
  margin-top: -122px;
  color: #00000073;
}

@media only screen and (max-width: 375px) {
  .btn-search {
    margin-left: 315px;
    margin-top: -125px;
    margin-bottom: 13px;
  }
}

.content div {
  width: 450px;
  height: 255px;
  margin: 23px 23px;
  background:#ffffff;
  border-radius: 10px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 375px) {
  .content div {
    margin-left: -110px;
    width: 320px;
    height: 215px;
  }
}

.content div:hover {
  box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.25);
}

span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 45px;
  margin: 15px 12px;
}

@media only screen and (max-width: 375px) {
  .logo {
    width: 450px;
    height: 75px;
    margin-top: 0px;
    margin-left: 0;
    border-radius: 5px;
  }
}

h2 {
  color: #000000;
  text-align: center;
  font-size: 2em;
  margin-right: 15px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 375px) {
  h2 {
    font-size: 15px;
    width: 120px;
  }
}

.logo1 {
  float: top;
  display: flex;
  margin-top: -50px;
}

@media only screen and (max-width: 375px){
  .logo1 {
    color: transparent;
  }
}

.rating {
  font-size: 20px;
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 10px;
  color: #134B8A;
  margin-top: -32px;
}

@media only screen and (max-width: 375px){
  .rating {
      border-radius: 50px;
      border: 1px solid #134B8A;
      color: #fff;
      background: #134B8A;
      padding: 0 5px;
      float: right;
      height: 17px;
      width: 30px;
      margin-right: 24px;
      font-size: 13px;
  }
}

.star {
  color: #134B8A;
  margin-right: 5px;
}

@media only screen and (max-width: 375px){
  .star {
    color: transparent;
  }
}

.menu1 {
  width: 125px;
  height: 125px;
  object-fit: cover;
  display: flex;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
}

@media only screen and (max-width: 375px){
  .menu1 {
    width: 105px;
    height: 115px;
    object-fit: cover;
    display: flex;
    margin:2px;
    margin-top: 10px;
  }
}

svg{
  font-size: 15px;
}

.calendar {
  margin-left: 95px;
  margin-bottom: -5px;
  font-size: 25px;
}

.pages-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.content-2 {
  cursor: pointer;
  border-radius: 10px;
  background-color: transparent;
}

.content-2 header{
  font-size: 10.5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -100px;
  width: 500px;
  height: 50px;
}
.content-2 h3{
  color: #fefefe;
  background-color: #134B8A;
  position: relative;
  border-radius: 25px 0 25px 25px;
  padding: 5px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 375px){
  .content-2 h3 {
    font-size: 12.5px;
    border-radius: 30px 0 30px 30px;
    width: 290px;
    text-align: center;
    padding: 5px;
    box-shadow: 0px 4.5px 5px rgba(0, 0, 0, 0.3);
  }
}

